*~
*.orig
*.rej
*.o
DEADJOE
Makefile.in
*Makefile
core 
joe-*.tar.gz
charmaps/klingon
rc/*rc
rc/jicerc.ru
rc/joerc.zh_TW
joe/joe
joe/util/stringify
joe/util/termidx
joe/util/uniproc
joe/util/checkwidths
joe/autoconf.h
joe/autoconf.h.in
joe/.deps
joe/util/.deps
joe/stamp*
compile

*joe.1

config.guess
config.status
config.sub
config.log

autom4te.cache
aclocal.m4
configure
depcomp
install-sh
missing

__pycache__
*.pyc
tests/testenv
